body{
    width: 1250px;
    margin: 0 auto;
    background-image:url('background-usarb.png') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
section#main{
    display: grid;
    grid-template-columns: 6fr 10fr;
    gap: 100px;
}
.titlu{
    background-color: white;
    height: 50px;
    text-align: center;
}

.titlu h1{
    padding: 10px;
    font-size: 19px;
    color: #5d5959;
    font-family:Arial, Helvetica, sans-serif;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.buttons button{
    cursor: pointer;
    background-color: #25975A;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 25px;
    border: 0;
    font-weight: bold;
}
.buttons button:hover{
    background-color: white;
    color: #333333;
}

button#active-button{
    background-color: white;
    color: #333333;
}
.section1 input{
    width: 428.567px;
    border: 0;
    height: 36px;
    margin-top: 25px;
}


.select-grupa{
    height: 30PX;
    margin-top: 25px;
    width: 432.5px;
    border: 0;
    font-size: 16px;
    color: black;
}
.select{
    margin-top: 25px;
    width: 432.5px;
    border: 0;
    font-size: 16px;
    height: 36px;
}

.tabel1{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 230px;
}

.tabel1 div{
    background-color: white;
    border: 0.5px solid #33333366;
    color: white;
}

div#tabel-data{
    width: 51PX;
    height: 27PX;
    border: 0.5px solid white;
    background-color: #038e44;
}
div#tabel-data:hover{
    width: 51PX;
    height: 27PX;
    border: 0.5px solid white;
    background-color:#fffcc4;
    color: black;
}
div#tabel-dataZ{
    width: 64PX;
    height: 27PX;
    border: 0.5px solid white;
    background-color: #029c4a;
}
div#tabel-dataZ:hover{
    width: 64PX;
    border: 0.5px solid white;
    background-color:#fffcc4;
    color: black;
}
#lessonA, #lessonW, #lessonP, #lessonPW, #lessonJ, #lessonF, #lessonD, #lessonT, #lessonFL, #lessonZ, #lessonG {
    text-align: center;
}

div#lesson{
    background-color: #3adf4bf8;
}
div#lessonA{
    background-color: #3adf4bf8;
}
div#lessonW{
    background-color: rgb(10, 150, 49);
}
div#lessonP{
    background-color: rgb(107, 71, 100);
}
div#lessonPW{
    background-color: rgb(173, 159, 173);
}
div#lessonJ{
    background-color: rgb(243, 164, 38);
}
div#lessonF{
    background-color: rgb(73, 46, 27);
}
div#lessonD{
    background-color: rgb(255, 245, 98);
}
div#lessonT{
    background-color: rgb(255, 245, 98);
}
div#lessonFL{
    background-color: rgb(88, 65, 88);
}
div#lessonPW{
    background-color: rgb(176, 158, 177);
}
div#lessonZ{
    background-color: rgb(246, 144, 42);
}
div#lessonG{
    background-color: rgb(10, 150, 49);
}
.tabel div:hover{
    border: 2px solid rgb(73, 46, 27);
}
.buttons-JOS{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.Orar{
    width: 100px;
    height: 22px ;
    color: white;
    border-color: antiquewhite;
    background-color: rgb(71, 197, 109);
}
.Examene{
    width: 100px;
    height: 22px ;
    color: white;
    border-color: antiquewhite;
   background-color: rgb(228, 116, 116);
}
.Planificare{
    width: 100px;
    height: 22px ;
    color: white;
    border-color: antiquewhite;
    background-color: rgb(114, 76, 114);
}
.h1S{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 350px;
    height: 35px;
    background-color: rgb(240, 255, 250);
    font-size: 13px;
    color: #57cd8e;
    text-align:left;
    align-content: center;
}
.h1S h1{
    margin-top: 4px;
    font-family:'Times New Roman', Times, serif;
}
.tabel2{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px;
    
}
.tabel3{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px;

}
.tabel4{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    color: white;
    font-size: 13px;

}
.section2{
    text-align: center;
    
}

.section2 img{
    text-align: center;
    width: 150px;
    height: 100px;
}

.section2 h4{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.ls-rows{
    display: grid;
    grid-template-columns: 2fr 7fr;
    min-height: 50px;
    background-color: white;
    color: #333333d0;
    border: 0.5px solid #33333366;
}

.ls-rows:hover{
    background-color: #fffcc4;
    color: black;   
}

.ls-column1{
    color: white;
    background-color: #25975A;
    border: 0.5px solid white;
    border-right: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.ls-column1:hover{
    color: black;
    background-color: #fffcc4;
    border: 0.5px solid white;
    border-right: 0;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.ls-column2 {
    border-left: 0;
}

.ls-column2 p{
    margin: 5px;
}
.ls-columns:hover{
    background-color: #fffcc4;
    color: black;   
}